# 1- Using Make_blob generate data of 1000 data points with three cluster apply kmeans on it with k = 3 and use the metrics and get the accuracy (For Accuracy take reference of DBSCAN evaluation)
‚óè Apply DBscan on Cust Segmentation Data

In [1]:
from sklearn.datasets import make_blobs

In [2]:
# Blob Genearation
x, y = make_blobs(n_samples=1000, centers=3, n_features=2,random_state=100)
x

array([[ -0.23761326,   7.01892936],
       [ -1.5890145 ,   6.57723733],
       [ -2.39557343,   6.39970431],
       ...,
       [-10.03823753,  -6.32269026],
       [ -0.89709501,  -2.98500825],
       [  1.90101688,  -6.42243454]])

In [3]:
y

array([1, 1, 1, 2, 2, 2, 0, 2, 0, 0, 2, 1, 2, 2, 2, 0, 0, 0, 2, 2, 2, 1,
       0, 2, 1, 1, 2, 2, 0, 2, 0, 1, 1, 0, 0, 2, 0, 0, 0, 0, 1, 2, 2, 1,
       0, 1, 0, 0, 1, 1, 0, 0, 2, 2, 0, 1, 1, 2, 0, 2, 1, 0, 2, 0, 0, 1,
       0, 2, 0, 0, 2, 1, 1, 2, 1, 1, 0, 1, 2, 0, 0, 0, 1, 0, 0, 2, 2, 2,
       1, 0, 2, 2, 0, 0, 1, 2, 0, 1, 1, 1, 0, 1, 2, 1, 2, 0, 0, 0, 2, 2,
       2, 1, 1, 1, 1, 2, 0, 1, 1, 0, 2, 0, 0, 1, 2, 1, 0, 2, 2, 0, 0, 0,
       2, 0, 0, 0, 0, 0, 2, 1, 0, 2, 2, 0, 0, 1, 0, 0, 1, 1, 0, 2, 1, 1,
       2, 2, 0, 0, 1, 2, 2, 0, 1, 0, 1, 2, 1, 1, 1, 2, 2, 1, 2, 0, 0, 0,
       0, 0, 2, 0, 1, 1, 1, 1, 1, 0, 0, 2, 2, 2, 0, 0, 1, 1, 1, 0, 1, 1,
       0, 2, 1, 1, 1, 1, 0, 0, 2, 1, 2, 0, 1, 0, 0, 1, 2, 1, 0, 0, 2, 1,
       1, 2, 2, 1, 1, 0, 0, 2, 0, 1, 2, 2, 2, 1, 2, 1, 1, 2, 0, 1, 1, 1,
       2, 2, 1, 1, 2, 0, 2, 0, 2, 2, 1, 2, 2, 2, 2, 1, 2, 2, 1, 0, 1, 2,
       2, 0, 1, 1, 0, 2, 0, 2, 1, 2, 2, 1, 1, 0, 2, 0, 2, 1, 1, 2, 2, 0,
       2, 2, 1, 2, 2, 1, 2, 1, 2, 1, 2, 2, 0, 1, 2, 2, 1, 1, 1, 0, 2, 0,
       0, 2, 0, 2, 2, 0, 0, 2, 1, 0, 1, 1, 2, 0, 2, 1, 1, 2, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 0, 0, 2, 2, 1, 2, 1, 1, 0, 0, 2, 0,
       0, 1, 0, 2, 2, 2, 2, 1, 2, 1, 2, 2, 1, 1, 1, 2, 2, 0, 2, 2, 1, 2,
       2, 0, 1, 0, 0, 1, 0, 1, 0, 2, 2, 2, 2, 1, 0, 2, 1, 0, 2, 2, 0, 1,
       2, 0, 1, 2, 1, 1, 1, 1, 2, 0, 1, 2, 1, 1, 1, 0, 0, 0, 1, 2, 2, 1,
       2, 0, 2, 2, 1, 2, 1, 1, 1, 1, 0, 1, 2, 0, 1, 1, 0, 2, 1, 0, 1, 0,
       0, 1, 0, 2, 1, 0, 2, 1, 1, 2, 2, 1, 0, 0, 2, 2, 2, 0, 2, 2, 2, 2,
       1, 1, 1, 0, 2, 0, 0, 1, 0, 2, 2, 1, 0, 1, 2, 0, 0, 1, 1, 1, 1, 1,
       2, 0, 2, 0, 2, 0, 1, 2, 0, 0, 1, 2, 1, 0, 2, 2, 1, 0, 2, 2, 1, 2,
       2, 0, 0, 1, 2, 0, 2, 1, 2, 1, 2, 1, 0, 1, 0, 2, 0, 1, 2, 1, 0, 1,
       0, 0, 0, 1, 0, 2, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 2, 1, 0, 2, 1,
       0, 0, 0, 0, 0, 0, 0, 2, 0, 2, 0, 2, 2, 2, 2, 2, 2, 1, 0, 1, 1, 1,
       0, 2, 0, 1, 0, 1, 0, 0, 1, 1, 2, 1, 2, 0, 0, 1, 2, 2, 1, 2, 0, 1,
       0, 0, 0, 2, 1, 0, 1, 1, 2, 0, 0, 1, 2, 0, 2, 1, 2, 2, 0, 1, 0, 0,
       0, 2, 2, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 2, 1, 2, 2, 1, 0, 2, 0, 0,
       2, 1, 0, 2, 2, 1, 2, 2, 0, 2, 2, 1, 0, 0, 1, 1, 0, 2, 2, 0, 2, 0,
       1, 1, 2, 1, 2, 2, 1, 1, 0, 1, 0, 0, 2, 2, 2, 0, 2, 0, 1, 0, 2, 0,
       2, 0, 1, 1, 0, 1, 0, 0, 2, 0, 0, 1, 1, 2, 0, 2, 1, 2, 1, 1, 0, 1,
       2, 2, 2, 1, 0, 1, 2, 0, 1, 0, 0, 0, 2, 0, 1, 2, 2, 0, 0, 0, 2, 0,
       1, 2, 2, 2, 2, 1, 2, 1, 1, 2, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 2, 2, 1, 2, 2, 2, 1, 2, 2, 0, 0, 2, 1, 2, 1, 0, 2, 0, 1, 0, 1,
       0, 2, 0, 0, 0, 0, 1, 2, 2, 2, 1, 2, 1, 1, 0, 2, 2, 1, 2, 1, 0, 2,
       1, 0, 0, 1, 0, 2, 1, 0, 1, 2, 0, 1, 0, 1, 2, 0, 1, 1, 2, 1, 2, 1,
       0, 1, 2, 2, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 2, 2, 1, 0, 2, 2,
       1, 1, 1, 1, 2, 2, 2, 1, 0, 0, 0, 2, 2, 0, 1, 2, 2, 1, 0, 0, 1, 0,
       1, 1, 2, 2, 0, 0, 2, 0, 1, 2, 1, 2, 1, 0, 2, 1, 2, 2, 0, 2, 0, 1,
       1, 0, 2, 2, 2, 2, 0, 1, 1, 1, 0, 2, 0, 0, 2, 1, 0, 1, 2, 0, 2, 1,
       2, 2, 1, 1, 2, 1, 1, 2, 2, 0, 2, 2, 1, 2, 1, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 2, 1, 0, 0, 0, 0, 0, 2, 1, 2, 0, 1, 1, 0, 0, 0, 0, 1, 2, 0,
       1, 1, 2, 2, 1, 2, 1, 0, 1, 0, 0, 0, 1, 0, 2, 2, 1, 1, 2, 1, 0, 1,
       0, 1, 0, 1, 0, 2, 0, 1, 1, 2, 1, 2, 1, 2, 1, 0, 1, 2, 1, 2, 2, 2,
       0, 0, 1, 2, 1, 2, 0, 2, 0, 0])

In [4]:
from sklearn.cluster import KMeans


kmeans = KMeans(n_clusters=3, random_state=100)
y_pred = kmeans.fit_predict(x)

In [5]:
from sklearn.metrics import silhouette_score
silhouette_score(x, y_pred, metric='euclidean')

0.8372297591816005

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('Copy of Cust_Segmentation.csv')
df.head()

,Customer Id,Age,Edu,Years Employed,Income,Card Debt,Other Debt,Defaulted,Address,DebtIncomeRatio
0,1,41,2,6,19,0.124,1.073,0.0,NBA001,6.3
1,2,47,1,26,100,4.582,8.218,0.0,NBA021,12.8
2,3,33,2,10,57,6.111,5.802,1.0,NBA013,20.9
3,4,29,2,4,19,0.681,0.516,0.0,NBA009,6.3
4,5,47,1,31,253,9.308,8.908,0.0,NBA008,7.2

In [8]:
df.columns

Index(['Customer Id', 'Age', 'Edu', 'Years Employed', 'Income', 'Card Debt',
       'Other Debt', 'Defaulted', 'Address', 'DebtIncomeRatio'],
      dtype='object')

In [9]:
x_n = df[['Age', 'Edu', 'Years Employed', 'Income', 'Card Debt',
       'Other Debt', 'DebtIncomeRatio']]
y_n = df['Defaulted']

In [10]:
from sklearn.cluster import DBSCAN
dbscan = DBSCAN(eps=13, min_samples=5)
y_pred = dbscan.fit_predict(x_n)
y_pred

array([ 0,  0,  0,  0, -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0,  0, -1, -1,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,
        0,  0,  0, -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,  0,
        0,  0,  0, -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0, -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,
        0,  0, -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0, -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0, -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0, -1,  0, -1,  0,  0, -1,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0, -1,  0,  0, -1,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
       -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,
        0,  0,  0, -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
      dtype=int64)

In [11]:
silhouette_score(x_n, y_pred, metric='euclidean')

0.7339337219653318

# 2-Using dirtydata.csv Demonstrate all the techniques for removing the null values

‚óè Replace by MEAN

‚óè Replace by MEDIAN

‚óè Replace by MODE

‚óè Replace by ARBITUARY VALUE

‚óè Replace by 0

In [12]:
dd = pd.read_csv('dirtydata (1).csv')
dd

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [13]:
dd.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [14]:
mean = dd['Calories'].mean()
dd['Calories'].fillna(mean, inplace = True)

dd

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130    409.10
1         60  '2020/12/02'    117       145    479.00
2         60  '2020/12/03'    103       135    340.00
3         45  '2020/12/04'    109       175    282.40
4         45  '2020/12/05'    117       148    406.00
5         60  '2020/12/06'    102       127    300.00
6         60  '2020/12/07'    110       136    374.00
7        450  '2020/12/08'    104       134    253.30
8         30  '2020/12/09'    109       133    195.10
9         60  '2020/12/10'     98       124    269.00
10        60  '2020/12/11'    103       147    329.30
11        60  '2020/12/12'    100       120    250.70
12        60  '2020/12/12'    100       120    250.70
13        60  '2020/12/13'    106       128    345.30
14        60  '2020/12/14'    104       132    379.30
15        60  '2020/12/15'     98       123    275.00
16        60  '2020/12/16'     98       120    215.20
17        60  '2020/12/17'    100       120    300.00
18        45  '2020/12/18'     90       112    304.68
19        60  '2020/12/19'    103       123    323.00
20        45  '2020/12/20'     97       125    243.00
21        60  '2020/12/21'    108       131    364.20
22        45           NaN    100       119    282.00
23        60  '2020/12/23'    130       101    300.00
24        45  '2020/12/24'    105       132    246.00
25        60  '2020/12/25'    102       126    334.50
26        60      20201226    100       120    250.00
27        60  '2020/12/27'     92       118    241.00
28        60  '2020/12/28'    103       132    304.68
29        60  '2020/12/29'    100       132    280.00
30        60  '2020/12/30'    102       129    380.30
31        60  '2020/12/31'     92       115    243.00

In [15]:
# Replace null values by median
median = dd['Calories'].median()
dd['Calories'].fillna(median, inplace=True)

dd

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130    409.10
1         60  '2020/12/02'    117       145    479.00
2         60  '2020/12/03'    103       135    340.00
3         45  '2020/12/04'    109       175    282.40
4         45  '2020/12/05'    117       148    406.00
5         60  '2020/12/06'    102       127    300.00
6         60  '2020/12/07'    110       136    374.00
7        450  '2020/12/08'    104       134    253.30
8         30  '2020/12/09'    109       133    195.10
9         60  '2020/12/10'     98       124    269.00
10        60  '2020/12/11'    103       147    329.30
11        60  '2020/12/12'    100       120    250.70
12        60  '2020/12/12'    100       120    250.70
13        60  '2020/12/13'    106       128    345.30
14        60  '2020/12/14'    104       132    379.30
15        60  '2020/12/15'     98       123    275.00
16        60  '2020/12/16'     98       120    215.20
17        60  '2020/12/17'    100       120    300.00
18        45  '2020/12/18'     90       112    304.68
19        60  '2020/12/19'    103       123    323.00
20        45  '2020/12/20'     97       125    243.00
21        60  '2020/12/21'    108       131    364.20
22        45           NaN    100       119    282.00
23        60  '2020/12/23'    130       101    300.00
24        45  '2020/12/24'    105       132    246.00
25        60  '2020/12/25'    102       126    334.50
26        60      20201226    100       120    250.00
27        60  '2020/12/27'     92       118    241.00
28        60  '2020/12/28'    103       132    304.68
29        60  '2020/12/29'    100       132    280.00
30        60  '2020/12/30'    102       129    380.30
31        60  '2020/12/31'     92       115    243.00

In [16]:
# Replace null values by mode
mode = dd['Date'].mode()[0]
dd['Date'].fillna(mode, inplace=True)

dd

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130    409.10
1         60  '2020/12/02'    117       145    479.00
2         60  '2020/12/03'    103       135    340.00
3         45  '2020/12/04'    109       175    282.40
4         45  '2020/12/05'    117       148    406.00
5         60  '2020/12/06'    102       127    300.00
6         60  '2020/12/07'    110       136    374.00
7        450  '2020/12/08'    104       134    253.30
8         30  '2020/12/09'    109       133    195.10
9         60  '2020/12/10'     98       124    269.00
10        60  '2020/12/11'    103       147    329.30
11        60  '2020/12/12'    100       120    250.70
12        60  '2020/12/12'    100       120    250.70
13        60  '2020/12/13'    106       128    345.30
14        60  '2020/12/14'    104       132    379.30
15        60  '2020/12/15'     98       123    275.00
16        60  '2020/12/16'     98       120    215.20
17        60  '2020/12/17'    100       120    300.00
18        45  '2020/12/18'     90       112    304.68
19        60  '2020/12/19'    103       123    323.00
20        45  '2020/12/20'     97       125    243.00
21        60  '2020/12/21'    108       131    364.20
22        45  '2020/12/12'    100       119    282.00
23        60  '2020/12/23'    130       101    300.00
24        45  '2020/12/24'    105       132    246.00
25        60  '2020/12/25'    102       126    334.50
26        60      20201226    100       120    250.00
27        60  '2020/12/27'     92       118    241.00
28        60  '2020/12/28'    103       132    304.68
29        60  '2020/12/29'    100       132    280.00
30        60  '2020/12/30'    102       129    380.30
31        60  '2020/12/31'     92       115    243.00

In [17]:
# Replace null values by arbitrary value (100)
cal = dd['Calories'].fillna(100, inplace=True)

dd

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130    409.10
1         60  '2020/12/02'    117       145    479.00
2         60  '2020/12/03'    103       135    340.00
3         45  '2020/12/04'    109       175    282.40
4         45  '2020/12/05'    117       148    406.00
5         60  '2020/12/06'    102       127    300.00
6         60  '2020/12/07'    110       136    374.00
7        450  '2020/12/08'    104       134    253.30
8         30  '2020/12/09'    109       133    195.10
9         60  '2020/12/10'     98       124    269.00
10        60  '2020/12/11'    103       147    329.30
11        60  '2020/12/12'    100       120    250.70
12        60  '2020/12/12'    100       120    250.70
13        60  '2020/12/13'    106       128    345.30
14        60  '2020/12/14'    104       132    379.30
15        60  '2020/12/15'     98       123    275.00
16        60  '2020/12/16'     98       120    215.20
17        60  '2020/12/17'    100       120    300.00
18        45  '2020/12/18'     90       112    304.68
19        60  '2020/12/19'    103       123    323.00
20        45  '2020/12/20'     97       125    243.00
21        60  '2020/12/21'    108       131    364.20
22        45  '2020/12/12'    100       119    282.00
23        60  '2020/12/23'    130       101    300.00
24        45  '2020/12/24'    105       132    246.00
25        60  '2020/12/25'    102       126    334.50
26        60      20201226    100       120    250.00
27        60  '2020/12/27'     92       118    241.00
28        60  '2020/12/28'    103       132    304.68
29        60  '2020/12/29'    100       132    280.00
30        60  '2020/12/30'    102       129    380.30
31        60  '2020/12/31'     92       115    243.00

In [18]:
# Replace null values by 0
null = dd.fillna(0, inplace=True)
dd

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130    409.10
1         60  '2020/12/02'    117       145    479.00
2         60  '2020/12/03'    103       135    340.00
3         45  '2020/12/04'    109       175    282.40
4         45  '2020/12/05'    117       148    406.00
5         60  '2020/12/06'    102       127    300.00
6         60  '2020/12/07'    110       136    374.00
7        450  '2020/12/08'    104       134    253.30
8         30  '2020/12/09'    109       133    195.10
9         60  '2020/12/10'     98       124    269.00
10        60  '2020/12/11'    103       147    329.30
11        60  '2020/12/12'    100       120    250.70
12        60  '2020/12/12'    100       120    250.70
13        60  '2020/12/13'    106       128    345.30
14        60  '2020/12/14'    104       132    379.30
15        60  '2020/12/15'     98       123    275.00
16        60  '2020/12/16'     98       120    215.20
17        60  '2020/12/17'    100       120    300.00
18        45  '2020/12/18'     90       112    304.68
19        60  '2020/12/19'    103       123    323.00
20        45  '2020/12/20'     97       125    243.00
21        60  '2020/12/21'    108       131    364.20
22        45  '2020/12/12'    100       119    282.00
23        60  '2020/12/23'    130       101    300.00
24        45  '2020/12/24'    105       132    246.00
25        60  '2020/12/25'    102       126    334.50
26        60      20201226    100       120    250.00
27        60  '2020/12/27'     92       118    241.00
28        60  '2020/12/28'    103       132    304.68
29        60  '2020/12/29'    100       132    280.00
30        60  '2020/12/30'    102       129    380.30
31        60  '2020/12/31'     92       115    243.00